{% load static %}

<li>
  <article class="post">
    <a href="">
      <img
        src="{% static 'blog/images/mountain.jpg' %}"
        alt="Mountain Hiking"
        style="
          width: 120px;
          height: 120px;
          border-radius: 50%;
          object-fit: cover;
          display: block;
        "
      />
      <div>
        <h3>Mountain Hiking></h3>
        <p>
          There's nothing like the views in the himalayas with all the highest
          peaks smiling at you at once. With those snowcapped mountains it feels
          like heaven to look at the sunrise
        </p>
      </div>
    </a>
  </article>
</li>
