{% extends "base.html" %}  <!--inherits from base.html-->
{% load static %}

{% block page_title %}
 My Blog 
{% endblock %}  <!--injects title to the page-->

{% block css_files %}
 <link rel="stylesheet" href="{% static 'blog/post.css' %}" > 
 <link rel="stylesheet" href="{% static 'blog/index.css' %}" > 
{% endblock %}  <!-- injects this css to the starting page with base template -->


{% block content %}   <!--injects body to the page--> 
    <section id="welcome">   <!-- welcome section for the introductory part -->
        <header>
            <img src="{% static 'blog/images/karan.jpg' %}" alt="Karan - The Author Of This Blog!" />
            <h2>KARAN'S BLOG</h2>
        </header>
        <p>Hi there! I'm Karan Bista, and I'm thrilled to have you here. This blog is a space where I share my thoughts, ideas, and insights on topics I'm passionate about. Whether it's tech, creativity, or exploring new challenges, there's always something exciting happening here.
        Feel free to explore, comment, and connect—this blog is as much about sharing as it is about learning together. Thanks for stopping by, and I hope you enjoy your time here!</p>
    </section>
    
    <section id="latest-posts"> <!-- latest posts section to handle latest post by order -->
        <h2>My Latest Thoughts</h2>
        <ul>
            {% for post in posts %}
                {% include 'blog/includes/post.html' %} 
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <p>I am a passionate developer exploring the world of web development and AI. With skills in HTML, CSS, JavaScript, and Python, I’m currently mastering Django while building exciting projects</p>
        <p>My goal is to keep on growing as a developer - And if I could help you in anyway possible, I'd be more than happy!</p>
    </section>

    
{% endblock %}
